.rock{
    height: 50px;
    width: 80px;
}

h1{
    text-align: center;
}

.scissors{
    height: 50px;
    width: 80px;
}

.paper{
    height: 50px;
    width: 80px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 36px;
}

.winsLossDisplay{
    display: flex;
    gap: 32px;
}

.results{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.lossesDisplay,.winsDisplay{
    text-align: center;
}

.gameDisplay{
    border: 3px solid black;
    width: 400px;
    height: 40px;

}